# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1O9aE_Hen5smf_a6TsbVF6DM0ms4Ykj6s?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [27]:
from selenium import webdriver
from selenium.webdriver.common.by import By

In [28]:
navegador = webdriver.Chrome()
navegador.get('https://www.google.com/')

In [29]:
import pandas as pd
tabela = pd.read_excel('commodities.xlsx')
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [30]:
# pegar os commodities
for linha in tabela.index: # percorre as linhas da tabela
    produto = tabela.loc[linha, 'Produto']
    produto = produto.replace('á', 'a').replace('ã', 'a').replace('ó', 'o').replace('é', 'e').replace('ú', 'u').replace('í', 'i').replace('ç', 'c')
    link = f'https://www.melhorcambio.com/{produto}-hoje'
    navegador.get(link)
    cotacao = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')
    cotacao = float(cotacao.replace('.', '').replace(',', '.'))
    tabela.loc[linha, 'Preço Atual'] = cotacao
    #

In [31]:
tabela['Comprar'] = tabela['Preço Atual'] < tabela['Preço Ideal']

In [32]:
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        68.74     True
1      Soja       163.59       124.90     True
2       Boi       282.20       348.55    False
3  Petróleo       424.37       369.03     True
4   Algodão       497.76       350.96     True
5    Açúcar       136.23       100.45     True
6      Café      1092.87      1806.48    False
7      Ouro       321.77       845.47    False
8   Tilápia         9.05         9.54    False